<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is a test</h1>

    <form method="POST" action="chart">
        <!-- Symbol -->
        <label for="symbol">Symbol:</label>
        <select id="symbol" name="symbol">
            <option value="AAPL">AAPL</option>
            <option value="GOOG">GOOG</option>
            <option value="MSFT">MSFT</option>
        </select>

        <br>

        <!-- Chart Type -->
        <label for="chart_type">Chart Type:</label>
        <select name="chart_type" id="chart_type">
            <option value="line">Line</option>
            <option value="bar">Bar</option>
        </select>

        <br>

        <!-- Time Series -->
        <label for="time_series">Time Series:</label>
        <select name="time_series" id="time_series">
            <option value="TIME_SERIES_INTRADAY">Intraday</option>
            <option value="TIME_SERIES_DAILY">Daily</option>
            <option value="TIME_SERIES_WEEKLY">Weekly</option>
            <option value="TIME_SERIES_MONTHLY">Monthly</option>
        </select>
            
        <br>

        <!-- Start Date -->
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date">

        <br>

        <!-- End Date -->
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date">

        <br>

        <!-- Submit Button -->
        <button type="submit" class="button">Graph It!</button>
    </form>

</body>
</html>